
		#contents {
			width:500px;
			margin:0 auto;
		}
		ul {			
			list-style: none;
			padding-top:40px;
		}
		li {
			clear:left;
			margin-bottom:10px;
		}
		li > label {
			width:150px;
			float:left;
			text-align:right;
		}
		input[type="text"] {
			width:110px;
			padding:5px 10px;			
			margin:0 5px 0 10px;
		}
		li:nth-child(3) {
			margin-top:20px;
			text-align: center;
		}
		button {
			width:400px;
			margin:auto;
			padding:10px;
			border:1px solid #ccc;			
			font-size:1em;
		}
		#result {
			width:400px;
			padding:10px;
			margin-top:20px;
			font-size:1.2em;
			text-align:center;
		}